<!-- templates/registration/login.html -->
<!--{% load static %} -->

        <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        -->
        <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
        
		
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
<div class = "login-page">
	<h2 class = "page-header" >Login</h2>
	<form method="post">
	  {% csrf_token %}
	  {{ form.as_p }}
	  <button class = "login-button" type="submit">Enter</button>
	</form>
</div>