

body {
    padding-left: 15px;
    
}

.page-header {
    background-color: tomato;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

.content {
    margin-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Squada One', cursive;
    color: #ffffff;
}
h1 a, h2 a {
    /*Heading which are hyperlinks*/
    color: #eb451c;
    
}

.date {
    font-size: 15px;
    float: right;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
    background-color: tomato;
    border-style: none;
    padding : 10px;
    border-radius: 10px;
    color: white;
    font-size: 13pt;
    

}

.top-menu, .top-menu:hover, .top-menu:visited {
    /*changes the + icon */
    color: #b93737;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    
    margin-bottom: 20px;
    padding: 50px;
    border-radius: 10px;
    background-color: tomato;
    font-size: 17px;
}

.post h2 a, .post h2 a:visited {
    color: #ffffff;
    
}
#go-right {
    color: white;
    float:right;
    margin-right :10px;
    border-style: solid;
    border-radius: 5px;
    padding : 5px;
}
.edit-title{
    color: black;
}
.btn-save {
    color: tomato;
    border-style: solid;
    border-radius: 5px;
    float: right;
    border-width: 3px;
    border-color: tomato;
    background-color: white;
    font-size: 15px;
}
